
.flex-container{
    display: inline-flexbox;
    align-content: center;
}
.flex-container > div{
    text-align: center;
    margin: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container h1{
    font-size: 3em;
    color: rgb(97, 89, 89);
    margin-bottom: 0px;
}
.flex-container span{
    color: rgb(255, 128, 128);
}
.flex-container p{
    font-size: 20px;
    margin-top: 0px;
    color: rgb(97, 89, 89);
}
