
<header class="header">
    <h1 class="logo"><a routerLink="../../dashboard">COLORS</a></h1>
      <ul class="main-nav">
        <li><a routerLink="../add-product">ADD PRODUCT</a></li>
        <li><a routerLink="../add-user">ADD USER</a></li>
          <li><a routerLink="../products">PRODUCTS</a></li>
          <li><a routerLink="../users">USER</a></li>
          <li><a routerLink="../profile">MY PROFILE</a></li>
          <li><a routerLink="">LOG OUT</a></li>
      </ul>
    </header>
<div class="container">
   
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                        <th><input type="text" class="form-control" placeholder="FirstName" disabled></th>
                        <th><input type="text" class="form-control" placeholder="LastName" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Email" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Action" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of user; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td><button class="btn btn-success" (click)="upUser(user._id)" type="button ">Edit</button>&nbsp;
                            <button  type="button" (click)="getUserId(user._id)"  class="btn btn-warning">View</button>&nbsp;
                            <button type="button" (click)="delUser(user._id)" class="btn btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
