.flex-container{
    display: inline-flexbox;
    align-content: center;
}
.flex-container > div{
    text-align: center;
    margin: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container h1{
    font-size: 3em;
    color: rgb(97, 89, 89);
    margin-bottom: 0px;
}
.flex-container span{
    color: rgb(255, 128, 128);
}
.flex-container p{
    font-size: 20px;
    margin-top: 0px;
    color: rgb(97, 89, 89);
}
.flexi-container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background-color: rgb(255, 128, 128);
}
.ccont{
    padding: 20px;
    height: 300px;
    width: 300px;
    background-color: #fff;
}
.flexi-container span{
 color: rgb(97, 89, 89);
 }
 .content{
     font-size: 12px;
     font-family: Arial;
 }
.circle{
    width: 90px;
    padding-top: 4%;
    height: 90px;
    float: left;
    clear: left;
    margin-right: 10px;
    text-align: center;
    border: 8px solid rgb(255, 128, 128);
    border-radius: 50px;
}
.s_head{
    font-size: 2em;
    display: block;
}
.cont{
    height: 320px;
    width: 320px;
    padding: 8px;
    margin: 50px;
    border: 2px solid #fff;
}